/* 
    Created on : 5/04/2022, 17:27:56
    Author     : Marcos Alcantara Hernandez
    @author Lionar Gerardy Villalta Barrientos
*/

#menu-bar {
    -fx-background-color:linear-gradient(to bottom,orange,#E8A841);
    -fx-background-radius:10 10 10 10;
}

